a {
	color: LawnGreen;
}


/*
a:visited {color: forestgreen;

}
*/
.transition_graph {
	max-width: 95%;
	margin-right: auto;
	margin-left: auto;
	max-height: 1000px;
}

.markov_stats {
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #c9c9c9;

}

.doublelin{
	line-height: 2
}

body {
	color: #c9c9c9;
	background-color: #212121;
}

.text_field {
	/*	min-width: 400px;*/
	/*	max-width: 75vw;*/
	width: 100%;
	height: 60vh;
}

.center {
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.singlecell {
	border: 1px solid #555555;
	max-width: 75vw;
	/*	min-width: 400px;*/
	border-radius: 5px;
	margin: auto;
}

.markov_input {
	/*	min-width: 500px;*/
	width: 90vw;
}

.markov_source_title {
	color: #00aa00;
}

.doubleline {
	line-height: 200%;
}