<html lang="en">

<head>
	<meta charset="utf-8">

	<title>{{title}}</title>
	<meta name="" content="Experiments and stuff!">
	<meta name="author" content="TheCDC">

	<link rel="stylesheet" href={% if css %}{{ css }}{% else %} "/static/style.css?"{% endif %}>

	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	{% if head %} {{ head|safe }} {% endif %}
</head>

<body>
	<script src="js/scripts.js"></script>
	<a href="/markov">Home</a>
	<p>Well, you obviously wouldn't be here if somethign wasn't wrong. The spelling of "something," for example.</p>
	{% if body %} {{body|safe}} {% endif %}
</body>

</html>