State: {{context.state}}
{% for m in context.moves %}
<form action="/critter" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="move" value="{{m}}">
	<button type="submit">{{m}}</button>
</form>
{% endfor %}