<html lang="en">

<head>
	<meta charset="utf-8">

	<title>{{title}}</title>
	<meta name="" content="Experiments and stuff!">
	<meta name="author" content="TheCDC">

	<link rel="stylesheet" href={% if css %}{{ css }}{% else %} "static/styles.css?"{% endif %}>

	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	{% if head %} {{ head }} {% endif %}
</head>

<body>
	<script src="js/scripts.js"></script>
	<p>
		<a href="/">Home</a>
		<a href="/passwords">Passwords</a>
	</p>

	<hr>

	<div class="singlecell center doubleline">{% if body %}{{body|safe}}{% endif %}</div>
</body>

</html>