<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<meta name="" content="Experiments and stuff!">
		<meta name="author" content="TheCDC">
		<link rel="stylesheet" href={% if css %}{{ css }}{% else %} "static/style.css?"{% endif %}>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% if head %} {{ head|safe }} {% endif %}
	</head>
	<body>
		<script src="js/script.js"></script>
		<a href="/">Home</a> {% if body %} {{body|safe}} {% endif %}
		<div class="center">
			<h1>
			Hi, I'm Christopher Chen. These are some of my experiments.
			</h1>
			<p>
				If you use them for anything fun, please let me know.
			</p>
			<ul>
				<li><a href="/markov">Markov Chain Text Generation for Fun and Profit</a> </li>
				<li><a href="/passwords">Strong Passwords inspired by Randall Munroe</a></li>
			</ul>
			<h3>
			My online presence
			<table class="center">
				<tr>
					<td>Github:</td>
					<td>
						<a href="https://github.com/TheCDC">https://github.com/TheCDC</a>
					</td>
				</tr>
				<tr>
					<td>BitBucket:</td> <td> <a href="https://bitbucket.org/TheCDC/">https://bitbucket.org/TheCDC/</a> </td>
				</tr>
				<tr>
					<td>Email: </td> <td><a href="mailto:christopher.chen1995@gmail.com">Gmail</a></td>
				</tr>
			</table>
			</h3>
		</div>
	</body>
</html>