<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<meta name="" content="Experiments and stuff!">
		<meta name="author" content="TheCDC">
		<link rel="stylesheet" href={% if css %}{{ css }}{% else %} "static/styles.css?"{% endif %}>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% if head %} {{ head }} {% endif %}
	</head>
	<body>
		<script src="js/script.js"></script>
		<p>
			<a href="/">Home</a>
			<a href="/markov">Markov</a>
		</p>
		<hr>
		<div class="singlecell center doubleline">
			{% if info_table %}
				{{info_table|safe}}
			{% endif %}
			
			{% if graph_img %} <h3>Transition Graph</h3>
				<img class="transition_graph center" src="{{graph_img}}" alt="[Loading transition graph image...]">
			{% endif %}


			{% if body %}
				<h3>Output</h3>
				{{body|safe}}
			{% endif %}
		</div>
	</body>
</html>