<html lang="en">

<meta charset="utf-8">

<title>{{title}}</title>
<meta name="" content="Experiments and stuff!">
<meta name="author" content="TheCDC">
<link rel="stylesheet" href={% if css %}{{ css }}{% else %} "css/styles.css?"{% endif %}>

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
{% if head %} {{ head|safe }} {% endif %}

</head>

<body>
	<script src="js/scripts.js"></script>
	<a href="/markov">Home</a>
	<div class="center">
		<p>
			<h3>Enter custom text to be mashed together.</h3></p>
		<p>Enter sentences or words on separate lines.</p>
		<form class="markov_input center" action="/markov/output" method="POST">
			<!-- <input class='text_field' type="text" name="chains"> -->

			<textarea class='text_field' name="chains"></textarea>
			<p>
				Maximum number of chains
				<br>
				<input type="number" name="max_chains" value="100">
			</p>
			<p>
				Minimum chain length
				<br>
				<input type="number" name="min_chain_length" value="1">
			</p>
			<p>
				Analysis type
				<br>
				<select name="analysis_type">
					<option name="letter">letter</option>
					<option name="word">word</option>
				</select>
			</p>
			<p>
				Chain state distances to analyze. Usually just 0, otherwise separate by spaces.
				<br>
				<input name="distances" value="0"> </p>
			<input type="submit" value="Submit">
		</form>
	</div>

</body>

</html>